
<mat-toolbar>
    <button mat-icon-button (click)="sidnav.toggle()">
      <mat-icon>menu</mat-icon>
   </button>

   <span>note</span>

   <button (click)="addNote()"
            title="Create Note"
            mat-button
            isIconButton="true">
      <mat-icon>note_add</mat-icon>
   </button>

   <button (click)="editNote()"
        title="Edit Note"
        mat-button>
    <mat-icon>edit</mat-icon>
  </button>

    <button (click)="noteDelete()"
            title="Delete Note"
            mat-button>
      <mat-icon>delete_forever</mat-icon>
    </button>

    <form>
      <mat-form-field>
        <input type="tel" matInput placeholder="">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
</mat-toolbar>

<mat-card>

  <mat-card-header>

  </mat-card-header>

  <mat-card-content>
    <mat-sidenav-container>

      <!-- side nav content -->
      <mat-sidenav
       #sidnav
       [mode]="mobileQuery.matches ? 'over' : 'side'"
       [fixedInViewport]="mobileQuery.matches"
       [opened]="mobileQuery.matches ? 'false' : 'true'"
       fixedTopGap="60"
       disableClose>

       <div *ngFor="let item of notes;let i = index" >
        <mat-card  [ngClass]="{'on-active': selectedItem === i}"
                   [tabindex]="i"
                   (click)="noteClick(i,$event)">

          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <h5 style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                matLIne>
                {{item.note}}
            </h5>
            <p> {{item.timeStamp}} </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
       </div>

      </mat-sidenav>

      <!-- text editor -->
      <mat-sidenav-content>
        <form [formGroup]="form">
          <quill-editor
                format="text"
                formControlName="note"
                [styles]="{height: '500px'}">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-bold" [title]="'Bold'"></button>
              </span>
              <span class="ql-formats">
                <select class="ql-align" [title]="'Aligment'">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
                <select class="ql-align" [title]="'Aligment2'">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>
            </div>
          </quill-editor>
        </form>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>

</mat-card>
